<ul>
	<li><a href="oeffnungszeiten.html">Öffnungszeiten</a></li>
	<li><a href="schiessstaende.html">Schiessstände</a></li>
	<li><a href="verein.html">Verein</a></li>
	<li><a href="termine.html">Termine</a></li>
	<!-- <li><a href="antraege.html">Anträge</a></li>
	<li><a href="antraege.html">News</a></li> -->
</ul>
<!--
	Neues?Test 1
	Schützenhaus
		Öffnungszeiten
		Dringendg (Wenn noch Akut)
		Neues (Letzte 3 Ergebnisse)
		Anfahrt

	Sport
		Langwaffen
		Kurzwaffen
		Bogen
	Verein
		Vorstand
		Struktur
		Satzung
		Geschichte
	Termine
		Termine Sport
	Sportliches 
		Ergebnisse

	Anträge + Forumulare

	-->