header
  margin-top: 0px
  line-height: 1
  #site-header
    background-image: url('/images/kksheader.png')
    background-repeat: no-repeat
    height: 150px
    
    #headertext
      margin-left: 140px
      padding-top: 20px

    #sitetitle
      font-size: 48px

    #catchphrase
      font-size: 24px

    