header
  margin-top: 0px
  line-height: 1
  color: white
  a
    color: #FFF
    text-decoration: none
    outline: 0
  
  a:hover, a:focus
    color: #FFF

  #site-header
    background-image: url('/images/kksheader.png')
    background-repeat: no-repeat
    height: 150px
    a
      color: 000

    
    #headertext
      margin-left: 140px
      padding-top: 20px
      text-color: white
      
    #sitetitle
      font-size: 48px

    #catchphrase
      font-size: 24px

    